* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Ensure padding and borders are included in the total width and height */
}

body {
    overflow-x: hidden;
    /* Prevent horizontal scrolling */
    font-family: 'Montserrat', serif;
    /* Add font family for body */
}

main {
    padding: 2rem;
    text-align: center;
}

.info, .menu {
    margin-top: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin-top: 0.5rem;
}

form input, form textarea {
    margin-top: 0.2rem;
    padding: 0.5rem;
    width: 100%;
    max-width: 400px;
}

button {
    margin-top: 1rem;
    padding: 0.5rem 2rem;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}
